#gameplayWrapper {
  background-image: linear-gradient(to bottom, #16252c, #2d3a41);
  background-size: cover;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  box-sizing: border-box;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
}

#gameplayContainer {
  box-shadow: 7px 7px 7px 7px rgb(0, 0, 0);
}

#gameplayRow {
  box-shadow: 7px 7px 7px 7px rgb(0, 0, 0);
}

#gameplayCol {
  box-shadow: 7px 7px 7px 7px rgb(0, 0, 0);
}

#gameplayTitle {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Bangers", cursive;
  box-shadow: 7px 7px 7px 7px rgb(0, 0, 0);
}

#gameplayParagraphRow {
  box-shadow: 7px 7px 7px 7px rgb(0, 0, 0);
}

#gameplayParagraphCol {
  box-shadow: 7px 7px 7px 7px rgb(0, 0, 0);
}

#gameplayParagraph {
  box-shadow: 7px 7px 7px 7px rgb(0, 0, 0);
}

#playerButtonRow {
  box-shadow: 7px 7px 7px 7px rgb(0, 0, 0);
}

#singleplayerButtonCol {
  box-shadow: 7px 7px 7px 7px rgb(0, 0, 0);
}

#singleplayerButton {
  box-shadow: 7px 7px 7px 7px rgb(0, 0, 0);
}

#multiplayerButtonCol {
  box-shadow: 7px 7px 7px 7px rgb(0, 0, 0);
}

#multiplayerButton {
  box-shadow: 7px 7px 7px 7px rgb(0, 0, 0);
}