#gameplayWrapper {
  background-image: linear-gradient(to bottom, #16252c, #2d3a41);
  background-size: cover;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  box-sizing: border-box;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
}

#gameplayContainer {
  height: fit-content;
  text-align: center;
  justify-content: center;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  /* box-shadow: 7px 7px 7px 7px rgb(0, 0, 0); */
}

#gameplayRow {
  text-align: center;
  justify-content: center;
  padding: 0 0 0 0;
  margin: 2% 2% 0 2%;
  /* box-shadow: 7px 7px 7px 7px rgb(0, 0, 0); */
}

#gameplayCol {
  text-align: center;
  justify-content: center;
  padding: 0 0 0 0;
  margin: 2% 2% 0 2%;
  /* box-shadow: 7px 7px 7px 7px rgb(0, 0, 0); */
}

#gameplayTitle {
  color: white;
  padding: 0 0 0 0;
  margin: 2% 2% 0 2%;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Bangers", cursive;
  /* box-shadow: 7px 7px 7px 7px rgb(0, 0, 0); */
}

#gameplayParagraphRow {
  text-align: center;
  justify-content: center;
  margin: 0 2% 0 2%;
  /* box-shadow: 7px 7px 7px 7px rgb(0, 0, 0); */
}

#gameplayParagraphCol {
  text-align: center;
  justify-content: center;
  margin: 0 2% 2% 2%;
  /* box-shadow: 7px 7px 7px 7px rgb(0, 0, 0); */
}

#gameplayParagraph {
  text-align: center;
  justify-content: center;
  margin: 0 0 0 0;
  color: white;
  font-size: 0.83rem;
  font-weight: bold;
  /* box-shadow: 7px 7px 7px 7px rgb(0, 0, 0); */
}

#singlePlayerButtonRow {
  text-align: center;
  justify-content: center;
  margin: 0 2% 0 2%;
  /* box-shadow: 7px 7px 7px 7px rgb(0, 0, 0); */
}

#singleplayerButtonCol {
  text-align: center;
  justify-content: center;
  height: fit-content;
  margin: 2% 2% 2% 2%;
  /* box-shadow: 7px 7px 7px 7px rgb(0, 0, 0); */
}

#singleplayerButton {
  width: 100%;
  margin: 2% 0 2% 0;
  color: #101f3e;
  background-color: #1ae69d;
  border-color: #53725e;
  box-shadow: 7px 7px 7px rgb(0, 0, 0);
  /* box-shadow: 7px 7px 7px 7px rgb(0, 0, 0); */
}

#singleplayerButton:active {
  transform: translateY(3px);
}

#multiPlayerButtonRow {
  text-align: center;
  justify-content: center;
  margin: 0 2% 0 2%;
  /* box-shadow: 7px 7px 7px 7px rgb(0, 0, 0); */
}

#multiplayerButtonCol {
  text-align: center;
  justify-content: center;
  height: fit-content;
  margin: 2% 2% 2% 2%;
  /* box-shadow: 7px 7px 7px 7px rgb(0, 0, 0); */
}

#multiplayerButton {
  width: 100%;
  margin: 2% 0 2% 0;
  color: #101f3e;
  background-color: #0c7d86;
  border-color: #53725e;
  box-shadow: 7px 7px 7px rgb(0, 0, 0);
  /* box-shadow: 7px 7px 7px 7px rgb(0, 0, 0); */
}

#multiplayerButton:active {
  transform: translateY(3px);
}
